@{
    ViewData["Title"] = "Home Page";
}
<partial name="NavPartial" />
<div class="mt-5 container">

    <form asp-controller="Gjendja" asp-action="AllGjendja">
        <p>

            Fillo <input class="ms-1" type="date" name="searchFirstTime" />
            Perfundo <input class="ms-1" type="date" name="searchSecondTime" />
            <input class="btn btn-primary" type="submit" value="Kerko" />
        </p>
    </form>
    <a class="btn btn-primary mb-1" asp-action="AddGjendja" asp-controller="Gjendja">Ndrysho gjendjen</a>
@*    <h1>@ViewBag.RefPrice</h1>
    <div class="row">
        @foreach (var item in ViewBag.Totali)
        {
            <p>Pagesa @item.Pagesa</p>
            <p>Monedha @item.Currency.CurrencyUnit</p>
            <br>
        }
    </div>
*@

    <div class="row">
        <div class="col sm-6">
            <table class="table table-hover table-sm table-info table-bordered  ">
                <thead>
                    <tr>

                        @*    <th scope="col">cmimi Blere-Shitur</th>*@

                        <th scope="col">Gjendja</th>
                        <th scope="col">Gjendja Reale</th>
                        <th scope="col">Monedha</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Totali)
                    {
                        <tr>
                            <td scope="row"> @item.Pagesa</td>
                            <td scope="row"> @item.PagesaReale</td>
                            <td scope="row"> @item.Currency.CurrencyUnit</td>

                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col sm-6">
            <table class="table table-striped table-bordered  ">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Shuma</th>
                    @*    <th scope="col">cmimi Blere-Shitur</th>*@
                        <th scope="col">Shenime</th>
                        <th scope="col">Pagesa Kryer</th>
                        <th scope="col">Shtim</th>
                        <th scope="col">Zbritje</th>
                        <th scope="col">Monedha</th>
                        <th scope="col">Shofer</th>
                        <th scope="col">Pika Shkarkimit</th>
                        <th scope="col">veprime</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Shofers)
                    {
                        <tr>
                            <td scope="row"> @item.CreatedDate</td>
                            <td scope="row"> @item.Pagesa</td>
                            <td scope="row"> @item.Shenime</td>
                            @if (item.PagesaKryer)
                            {
                                <td scope="row">
                                    <div>
                                        <h2>
                                            <i style="color:green;width:40px;height:40px;" class="bi bi-check-circle-fill">

                                            </i>
                                            <a class="btn btn-primary" asp-action="EditGjendja" asp-controller="Gjendja" asp-route-id="@item.ZbritShtoGjendjaId">Ndrysho Gjendjen</a>
                                        </h2>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td scope="row">
                                    <div>
                                        <h2>
                                            <i style="color:red;width:40px;height:40px;" class="bi bi-exclamation-circle-fill">

                                            </i>
                                            <a class="btn btn-primary" asp-action="EditGjendja" asp-controller="Gjendja" asp-route-id="@item.ZbritShtoGjendjaId">Ndrysho Gjendjen</a>
                                        </h2>
                                    </div>
                                </td>
                            }
                            @if (@item.ZbritShtoSelect=="Shto") { 
                            <td scope="row"> Shtim</td>
                            <td scope="row"> </td>
                            }else{
                            <td scope="row"> </td>
                            <td scope="row"> @item.ZbritShtoSelect</td>
                            }


                            <td scope="row"> @item.Currency.CurrencyUnit</td>
                            @if (@item.Shofer != null)
                            {

                                <td scope="row"> @item.Shofer.Emri</td>
                            }
                            else
                            {
                                <td scope="row"> </td>

                            }
                            @if (@item.PikaShkarkimi != null)
                            {

                                <td scope="row"> @item.PikaShkarkimi.Emri</td>
                            }
                            else
                            {
                                <td scope="row"> </td>

                            }

                            <td scope="row">
                                <a class="btn btn-primary" asp-action="EditGjendja" asp-controller="Gjendja" asp-route-id="@item.ZbritShtoGjendjaId "> Edito</a>

                            <a class="btn btn-danger" asp-action="FshiGjendja" asp-controller="Gjendja" asp-route-id="@item.ZbritShtoGjendjaId"> Fshi</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
</div>

