@model ZbritShtoGjendja
<partial name="NavPartial"/>
<div class="mt-5 container">
    <div class="row">
        <div class="col sm-6">
            <table class="table table-hover table-sm table-info table-bordered  ">
                <thead>
                    <tr>
                        <th scope="col">Gjendja</th>
                        <th scope="col">GJendja Reale</th>
                        <th scope="col">Monedha</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Totali)
                    {
                        <tr>
                            <td scope="row"> @item.Pagesa</td>
                            <td scope="row"> @item.PagesaReale</td>
                            <td scope="row"> @item.Currency.CurrencyUnit</td>

                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
<div class="row">
        <form asp-controller="Gjendja" asp-action="EditedGjendja" asp-route-id="@ViewBag.id" method="post">
    <div class="col-sm-6">
                <div class="form-group">

                    <span asp-validation-for="Pagesa"></span>
                    <label asp-for="Pagesa"></label>
                    <input asp-for="Pagesa" type="text" class="form-control" required />

                </div>

                @*
                <span asp-validation-for="CurrencyId"></span>
                <label asp-for="CurrencyId"></label>
                <select asp-for="CurrencyId" class="form-control" required />
                @foreach (var item in @ViewBag.numberNames)
                {
                <option value="@item.Key">@item.Value</option>
                }*@
                <div class="form-group mb-2">

                    <span asp-validation-for="CurrencyId"></span>
                    <label asp-for="CurrencyId"></label>
                    <select asp-for="CurrencyId" asp-items="@ViewBag.numberNames" class="form-control"></select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <span asp-validation-for="PagesaKryer"></span>
                            <label asp-for="PagesaKryer">PagesaKryer</label>
                        </div>
                        <div class="col-2">

                            <input type="checkbox" asp-for="PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <span asp-validation-for="Shenime"></span>
                    <label asp-for="Shenime"></label>
                    <input asp-for="Shenime" type="text" class="form-control" />
                </div>

                      <div class="form-group">

                    <span asp-validation-for="ZbritShtoSelect"></span>
                    <label asp-for="ZbritShtoSelect"></label>
                    <select asp-for="ZbritShtoSelect" asp-items="@ViewBag.blereShitur" class="form-control"></select>
                </div>
                <div class="form-group">
                    <span asp-validation-for="ShoferId"></span>
                    <label asp-for="ShoferId"></label>
                    <select asp-for="ShoferId" asp-items="@ViewBag.ShoferIdNames" class="form-control"></select>
                </div>
                <div class="form-group">
                    <span asp-validation-for="PikaShkarkimiId"></span>
                    <label asp-for="PikaShkarkimiId"></label>
                    <select asp-for="PikaShkarkimiId" asp-items="@ViewBag.PikaShkarkimiIdNames" class="form-control"></select>
                </div>
    </div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary mt-3">Ndrysho te dhenat</button>
                <a asp-controller="Gjendja" asp-action="AllGjendja" class="btn btn-primary mt-3 mr-3"> Kthehu pas</a>
      </div>
</form>
</div> 
</div>

