@{
    ViewData["Title"] = "Home Page";
}
<partial name="NavPartial" />
<div class="mt-5 container">

    <form asp-controller="Nafta" asp-action="AllNafta">
        <p>

            Fillo <input class="ms-1" type="date" name="searchFirstTime" />
            Perfundo <input class="ms-1" type="date" name="searchSecondTime" />
            <input class="btn btn-primary" type="submit" value="Kerko" />
        </p>
    </form>
    <a class="btn btn-primary" asp-action="AddNafta" asp-controller="Nafta">Shto nje shit/blerje nafte</a>
    <h1>@ViewBag.RefPrice</h1>

    <div class="row">
        <div class="col sm-6">
            <table class="table table-hover table-sm table-info table-bordered  ">
                <thead>
                    <tr>

                        @*    <th scope="col">cmimi Blere-Shitur</th>*@

                        <th scope="col">Litra</th>
                        <th scope="col">Blere</th>
                        <th scope="col">Shitur</th>
                        <th scope="col">Monedha</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.naftaPeriudh)
                    {
                        <tr>
                            <td scope="row"> @item.Litra</td>
                            @if (item.BlereShiturSelect == "Blere")
                            {
                                <td scope="row"> @item.BlereShiturSelect</td>
                                <td scope="row"></td>
                            }
                            else
                            {
                                <td scope="row"></td>
                                <td scope="row"> @item.BlereShiturSelect</td>
                            }
                            <td scope="row"> @item.Currency.CurrencyUnit</td>

                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col sm-6">
            <table class="table table-striped table-bordered  ">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Litra</th>
                        <th scope="col">Pagesa</th>
                        <th scope="col">Pagesa Kryer</th>
                        <th scope="col">Curency</th>
                        <th scope="col">Blere</th>
                        <th scope="col">Shitur</th>
                        <th scope="col">Cmimi</th>
                        <th scope="col">Shtuar</th>
                        <th scope="col">veprime</th>

                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < ViewBag.Shofers.Count; i++)
                    {
                        
                        <tr>
                            <td scope="row"> @ViewBag.Shofers[i].CreatedDate</td>
                            <td scope="row"> @ViewBag.Shofers[i].Litra</td>
                            <td scope="row"> @ViewBag.Shofers[i].Pagesa</td>
                            @if (ViewBag.Shofers[i].PagesaKryer)
                            {
                                <td scope="row">
                                    <div>
                                        <h2>
                                            <i style="color:green;width:40px;height:40px;" class="bi bi-check-circle-fill"></i>
                                            @if (ViewBag.Shofers[i].RrugaId == null)
                                            {
                                                <a class="btn btn-primary" asp-action="BejPagesen" asp-controller="Nafta" asp-route-id="@ViewBag.Shofers[i].NaftaStockId">Ndrysho</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary" asp-action="EditRrugaJoModel" asp-controller="Rruga" asp-route-id="@ViewBag.Shofers[i].RrugaId">Ndrysho rrugen</a>
                                            }
                                        </h2>
                                    </div>
                                </td>

                            }
                            else
                            {
                                <td scope="row">
                                    <div>
                                        <h2> 
                                            <i style="color:red;width:40px;height:40px;" class="bi bi-exclamation-circle-fill"></i>
                                            @if (ViewBag.Shofers[i].RrugaId == null)
                                            {
                                                <a class="btn btn-primary" asp-action="BejPagesen" asp-controller="Nafta" asp-route-id="@ViewBag.Shofers[i].NaftaStockId">Ndrysho</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary" asp-action="EditRrugaJoModel" asp-controller="Rruga" asp-route-id="@ViewBag.Shofers[i].RrugaId">Ndrysho rrugen</a>
                                            }
                                        </h2>

                                    </div>
                                </td>
                            }
                            <td scope="row"> @ViewBag.Shofers[i].Currency.CurrencyUnit</td>
                            @if (ViewBag.Shofers[i].BlereShiturSelect == "Blere")
                            {
                                <td scope="row"> @ViewBag.Shofers[i].BlereShiturSelect</td>
                                <td scope="row"></td>
                            }
                            else
                            {
                                <td scope="row"></td>
                                <td scope="row"> @ViewBag.Shofers[i].BlereShiturSelect</td>
                            }

                            <td scope="row"> @ViewBag.Shofers[i].Cmimi @ViewBag.Shofers[i].Currency.CurrencyUnit/L</td>
                            @if (ViewBag.Shofers[i].RrugaId != null)
                            {
                            <td scope="row">
                                   Rruga  @ViewBag.Shofers[i].Rruga.Emri
                                </td>
                            }else{
                                <td scope="row">
                                    Nafte
                                </td>

                            }
                            @if ( i != ViewBag.Shofers.Count-1)
                            {
                                if (ViewBag.Shofers[i].RrugaId != null){
                                    <td scope="row">
                                        <a class="btn btn-primary" asp-action="EditRrugaJoModel" asp-controller="Rruga" asp-route-id="@ViewBag.Shofers[i].RrugaId"> Edito rrugen</a>
                                    </td>
                                }else{
                                    <td scope="row">
                                        <a class="btn btn-primary" asp-action="EditNafta" asp-controller="Nafta" asp-route-id="@ViewBag.Shofers[i].NaftaStockId"> Edito</a>
                                    </td>
                                }
                                
                            }
                            else
                            {

                                if (ViewBag.Shofers[i].RrugaId != null)
                                {
                                    <td scope="row">
                                        <a class="btn btn-primary" asp-action="EditRrugaJoModel" asp-controller="Rruga" asp-route-id="@ViewBag.Shofers[i].RrugaId"> Edito rrugen</a>
                                    </td>
                                }
                                else
                                {
                                    <td scope="row">
                                        <a class="btn btn-primary" asp-action="EditNafta" asp-controller="Nafta" asp-route-id="@ViewBag.Shofers[i].NaftaStockId"> Edito</a>
                                        <a class="btn btn-danger" asp-action="FshiNafta" asp-controller="Nafta" asp-route-id="@ViewBag.Shofers[i].NaftaStockId"> Fshi</a>

                                    </td>
                                }
                             @*   <td scope="row">

                                    <a class="btn btn-primary" asp-action="EditNafta" asp-controller="Nafta" asp-route-id="@ViewBag.Shofers[i].NaftaStockId"> Edito</a>
                                    <a class="btn btn-danger" asp-action="FshiNafta" asp-controller="Nafta" asp-route-id="@ViewBag.Shofers[i].NaftaStockId"> Fshi</a>
                                </td>*@
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
</div>

