@model Rruga
<partial name="NavPartial" />
<div class="mt-5 container-fluid ps-2 pe-2">
    <h1 class="text-center mb-5">Krijo nje Rruge</h1>
    <div class="row">
        <form asp-controller="Rruga" asp-action="CreateRruga" method="post">
            <div class="col-sm-6">
                <div class="form-group">
                    <span asp-validation-for="Emri"></span>
                    <label asp-for="Emri"></label>
                    <input asp-for="Emri" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="NaftaShpenzuarLitra"></span>
                    <label asp-for="NaftaShpenzuarLitra"></label>
                    <input asp-for="NaftaShpenzuarLitra" class="form-control">
                </div>
                <table id="DoganaTable" class="table">
                    <thead>
                        <tr>
                            <th>Pagesa Doganes</th>
                            <th>Kursi Kembimit</th>
                            <th>Paguar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="DoganadetailRow">
                            <td>
                                <input type="text" name="PagesaDoganaVM[0].Pagesa" class="form-control" required />
                            </td>
                            @*   <td>
                            <input type="number" name="PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                            </td>*@
                            <td>
                                <select name="PagesaDoganaVM[0].CurrencyId" class="form-control" required />
                                @foreach (var item in @ViewBag.numberNames)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </td>
                            <td>
                                <input type="checkbox" name="PagesaDoganaVM[0].PagesaKryer" style="width: 30px;height: 30px;" value="false" onchange="this.value=this.checked" />
                            </td>
                            <td>
                                <button type="button" id="0" class="btn btn-danger DoganaremoveRow">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-primary" id="DoganaaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <table id="ShoferRrugaTable" border="1" class="table">
                    <thead>
                        <tr>
                            <th>shoferi</th>
                            <th>Lloji pageses</th>
                        </tr>
                    </thead>
                    <tbody id="ShoferRrugadetailBody">
                        <tr id="ShoferRrugadetailRow0" class="ShoferRrugadetailRow">
                            <td>
                                <select type="text" name="ShoferitRrugaVM[0].ShoferId" class="form-control" required />
                                @foreach (var item in @ViewBag.ShoferIdNames)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </td>
                            @*   <td>
                            <input type="number" name="PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                            </td>*@
                            <td>
                                <table id="StudentsTable" border="1" class="table">
                                    <thead>
                                        <tr>
                                            <th>Pagesa shoferit</th>
                                            <th>Kursi Kembimit</th>
                                            <th>Paguar</th>
                                        </tr>
                                    </thead>
                                    <tbody id="StudentsTablebody0">
                                        <tr id ="detailRow" class="detailRow">
                                            <td>
                                                <input type="text" name="ShoferitRrugaVM[0].PagesaShoferitVM[0].Pagesa" class="form-control" required />
                                            </td>
                                            @*   <td>
                                            <input type="number" name="PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                                            </td>*@
                                            <td>
                                                <select name="ShoferitRrugaVM[0].PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                                                @foreach (var item in @ViewBag.numberNames)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </td>
                                            <td> 
                                                <input type="checkbox" name="ShoferitRrugaVM[0].PagesaShoferitVM[0].PagesaKryer" style="width: 30px;height: 30px;" value="false" onchange="this.value=this.checked" />
                                            </td>
                                            <td>
                                                <button type="button" onclick="RemoveChildRow(this)" id="0" class="btn btn-danger removeRow">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <button type="button" onclick="myFunctionChild(this.id)" class="btn btn-primary" id="0">Add Row</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                                @*  <select name="ShoferitRrugaVM[0].pagesaShoferitVM[0].CurrencyId" class="form-control" required />
                                @foreach (var item in @ViewBag.numberNames)
                                {
                                <option value="@item.Key">@item.Value</option>
                                }*@
                            </td>
                            <td>
                                <button type="button" onclick="RemoveRow(this)" id="ShoferRrugadetailRowRemove0" class="btn btn-danger ShoferRrugaremoveRow">Remove</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" onclick="myFunction()" class="btn btn-primary" id="ShoferRrugaaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>




                @*<table id="StudentsTable" class="table">
                <thead>
                <tr>
                <th>Pagesa shoferit</th>
                <th>Kursi Kembimit</th>
                </tr>
                </thead>
                <tbody>
                <tr class="detailRow">
                <td>
                <input type="text" name="PagesaShoferitVM[0].Pagesa" class="form-control" required />
                </td>

                <td>
                <select name="PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                @foreach (var item in @ViewBag.numberNames)
                {
                <option value="@item.Key">@item.Value</option>
                }
                </td>
                <td>
                <button type="button" class="btn btn-danger removeRow">Remove</button>
                </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                <td colspan="2">
                <button type="button" class="btn btn-primary" id="addRow">Add Row</button>
                </td>
                </tr>
                </tfoot>
                </table>*@
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary mt-3">Krijo Rruge</button>
                <a asp-controller="Rruga" asp-action="AllRruga" class="btn btn-primary mt-3 mr-3"> Kthehu pas</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            // Add row
            //$('#addRow').click(function () {
            //    var rowCount = $('#StudentsTable tbody tr').length;
            //    var newRow = $('.detailRow').first().clone();
            //    newRow.find('input[type=text]').val('');
            //    newRow.find('input[type=text]').attr('name', 'PagesaShoferitVM[' + rowCount + '].Pagesa');
            //    newRow.find('select').val('');
            //    newRow.find('select').attr('name', 'PagesaShoferitVM[' + rowCount + '].CurrencyId');
            //    newRow.appendTo($('#StudentsTable tbody'));
            //});
            //$(document).on('click', '.removeRow', function () {
            //    if ($('#StudentsTable tbody tr').length > 1) {
            //        $(this).closest('tr').remove();
            //    }
            //});
            $('#DoganaaddRow').click(function () {
                var rowCount = $('#DoganaTable tbody tr').length;
                var newRow = $('.DoganadetailRow').first().clone();
                newRow.find('input[type=text]').val('');
                newRow.find('input[type=text]').attr('name', 'PagesaDoganaVM[' + rowCount + '].Pagesa');
                newRow.find('select').val('');
                newRow.find('select').attr('name', 'PagesaDoganaVM[' + rowCount + '].CurrencyId');
                //newRow.find('checkbox').val('');
                //newRow.find('checkbox').attr('name', 'PagesaDoganaVM[' + rowCount + '].PagesaKryer');
                newRow[0].childNodes[5].childNodes[1].attributes.name.nodeValue = "PagesaDoganaVM[" + rowCount + "].PagesaKryer";
                newRow.find('button').val('');
                newRow.find('button').attr('id', rowCount.toString());
                newRow.appendTo($('#DoganaTable tbody'));
            });
            $(document).on('click', '.DoganaremoveRow', function () {
                var rowCount = $('#DoganaTable tbody tr').length;
                if ((rowCount - 1) > 1) {
                    var id = parseInt((this).id);
                    if (id != (rowCount - 1))
                    return
                    $(this).closest('tr').remove();

                }
            });
            //$('#ShoferRrugaaddRow').click(function () {
            //    debugger
            //    var rowCount = $('#ShoferRrugaTable tbody tr').length;
            //    var StudentsTablerowCount = $('#StudentsTable tbody tr').length;
            //    var newRow = $('.ShoferRrugadetailRow').first().clone();
            //    //newRow.find('select[type=text]').val('');
            //    //newRow.find('select[type=text]').attr('name', 'ShoferitRrugaVM[' + rowCount + '].ShoferId');
            //    //newRow.find('input[type=text]').val('');
            //    //newRow.find('input[type=text]').attr('name', 'ShoferitRrugaVM[' + rowCount + '].PagesaShoferitVM[' + StudentsTablerowCount + '].Pagesa');
            //    //newRow.find('select').val('');
            //    //newRow.find('select').attr('name', 'ShoferitRrugaVM[' + rowCount + '].PagesaShoferitVM[' + StudentsTablerowCount + '].CurrencyId');
            //    newRow.appendTo($('#ShoferRrugaTable tbody'));
            //});
            //$(document).on('click', '.ShoferRrugaremoveRow', function () {
            //    if ($('#ShoferRrugaTable tbody tr').length > 1) {
            //        $(this).closest('tr').remove();
            //    }
            //});
            //$('#addRow').click(function () {
            //    debugger
            //    var ShoferRrugaTableRow = $('#ShoferRrugaTable tbody tr').length;
            //    var rowCount = $('#StudentsTable tbody tr').length;
            //    var newRow = $('.detailRow').first().clone();
            //    newRow.find('input[type=text]').val('');
            //    newRow.find('input[type=text]').attr('name', 'ShoferitRrugaVM[' + ((ShoferRrugaTableRow - 3) - rowCount) + '].PagesaShoferitVM[' + rowCount + '].Pagesa');
            //    newRow.find('select').val('');
            //    newRow.find('select').attr('name', 'ShoferitRrugaVM[' + ((ShoferRrugaTableRow - 3) - rowCount) + '].PagesaShoferitVM[' + rowCount + '].CurrencyId');
            //    newRow.appendTo($('#StudentsTable tbody'));
            //});
            //$(document).on('click', '.removeRow', function () {
            //    if ($('#StudentsTable tbody tr').length > 1) {
            //        $(this).closest('tr').remove();
            //    }
            //});
        //function myFunction() {
        //    debugger
        //    var row = document.getElementById("ShoferRrugadetailRow"); // find row to copy
        //    var table = document.getElementById("ShoferRrugaTable"); // find table to append to
        //    var body = document.getElementById("ShoferRrugadetailBody"); // find table to append to
        //    var row = table.ariaRowCount;
        //    var x = document.getElementById("ShoferRrugaTable").rows.length;
        //    var count = $('#ShoferRrugaTable tr').length;
        //    var test = row.cloneNode(false);
        //    var clone = row.cloneNode(true); // copy children too
        //    clone.id = "newID"; // change id or other attributes/contents
        //    body.appendChild(clone); // add new row to end of table
        //}

       


        });

    </script>
}


