
@model Rruga
<partial name="NavPartial" />
<div class="mt-5 container">
    <h1 class="text-center mb-5">Krijo nje Rruge</h1>
    <form asp-controller="Rruga" asp-action="CreateRrugaJoModel" method="post">
        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <span asp-validation-for="Emri"></span>
                    <label asp-for="Emri"></label>
                    <input asp-for="Emri" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="NaftaShpenzuarLitra"></span>
                    <label asp-for="NaftaShpenzuarLitra"></label>
                    <input asp-for="NaftaShpenzuarLitra" class="form-control">
                </div>
                <table id="DoganaTable" class="table">
                    <thead>
                        <tr>
                            <th>Pagesa Doganes</th>
                            <th>Kursi Kembimit</th>
                            <th>Paguar</th>
                        </tr>
                    </thead>
                    <tbody> 
                        
                        @for (var i = 0;  i<=(Model.PagesaDoganaVM.Count()-1);i++)
                        {
                        <tr class="DoganadetailRow">

                            <td>
                                    <input asp-for="PagesaDoganaVM[i].Pagesa" type="text" name="PagesaDoganaVM[@i].Pagesa" class="form-control" required />
                            </td>
                          
                            <td>
                                    <select asp-for="PagesaDoganaVM[i].CurrencyId" name="PagesaDoganaVM[@i].CurrencyId" class="form-control" required />
                                @foreach (var item in @ViewBag.numberNames)

                                    { @if (Model.PagesaDoganaVM[@i].CurrencyId == @item.Key ? true : false){

                                   <option selected="selected" value="@item.Key">@item.Value</option>
                                    }else{

                                   <option  value="@item.Key">@item.Value</option>
                                    }
                                }
                            </td>
                            <td>
                                    <input type="checkbox" asp-for="PagesaDoganaVM[i].PagesaKryer" name="PagesaDoganaVM[@i].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />
                            </td>
                            <td>
                                    <button type="button" id="@i" class="btn btn-danger DoganaremoveRow">Remove</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-primary" id="DoganaaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>



                <table id="ShoferRrugaTable" border="1" class="table">
                    <thead>
                        <tr>
                            <th>shoferi</th>
                            <th>Lloji pageses</th>
                        </tr>
                    </thead>
                    <tbody id="ShoferRrugadetailBody">
                        @for (var i = 0; i <= (Model.ShoferitRrugaVM.Count() - 1); i++)
                        {
                        <tr id="ShoferRrugadetailRow0" class="ShoferRrugadetailRow">
                            <td>
                               @* <select type="text" name="ShoferitRrugaVM[0].ShoferId" class="form-control" required />
                                @foreach (var item in @ViewBag.ShoferIdNames)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }*@
                                    <select asp-for="ShoferitRrugaVM[i].ShoferId" name="ShoferitRrugaVM[@i].ShoferId" class="form-control" required />
                                    @foreach (var item in @ViewBag.ShoferIdNames)

                                    { @if (Model.ShoferitRrugaVM[@i].ShoferId == @item.Key ? true : false)
                                        {

                                            <option selected="selected" value="@item.Key">@item.Value</option>
                                        }
                                        else
                                        {

                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    }
                            </td>

                            <td>
                                <table id="StudentsTable" border="1" class="table">
                                    <thead>
                                        <tr>
                                            <th>Pagesa shoferit</th>
                                            <th>Kursi Kembimit</th>
                                            <th>Paguar</th>
                                        </tr>
                                    </thead>
                                        @if (i==0)
                                        {
                                            <tbody id="StudentsTablebody0">
                                                @for (var j = 0; j <= (Model.ShoferitRrugaVM[i].pagesaShoferitVM.Count() - 1); j++)
                                                {
                                                 
                                                    if(j==0){
                                                        string DinamicdetailRow = "detailRow";
                                                        <tr id="@DinamicdetailRow" class="detailRow">

                                                            <td>
                                                                @*<input type="text" name="ShoferitRrugaVM[0].pagesaShoferitVM[0].Pagesa" class="form-control" required />*@
                                                                <input asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].Pagesa" type="text" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].Pagesa" class="form-control" required />

                                                            </td>

                                                            <td>
                                                                @* <select name="ShoferitRrugaVM[0].PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                                                @foreach (var item in @ViewBag.numberNames)
                                                {
                                                <option value="@item.Key">@item.Value</option>
                                                }*@

                                                                <select asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].CurrencyId" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId" class="form-control" required />
                                                                @foreach (var item in @ViewBag.numberNames)

                                                                { @if (Model.ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId == @item.Key ? true : false)
                                                                    {

                                                                        <option selected="selected" value="@item.Key">@item.Value</option>
                                                                    }
                                                                    else
                                                                    {

                                                                        <option value="@item.Key">@item.Value</option>
                                                                    }
                                                                }


                                                            </td>
                                                            <td>
                                                                <input type="checkbox" asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].PagesaKryer" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />

                                                                @* <input type="checkbox" name="ShoferitRrugaVM[0].PagesaShoferitVM[0].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />*@
                                                            </td>
                                                            <td>
                                                                <button type="button" onclick="RemoveChildRow(this)" id="0" class="btn btn-danger removeRow">Remove</button>
                                                            </td>
                                                        </tr>
                                                    }else{
                                                        string DinamicdetailRow = "detailRow" + j;
                                                        <tr id="@DinamicdetailRow" class="detailRow">

                                                            <td>
                                                                @*<input type="text" name="ShoferitRrugaVM[0].pagesaShoferitVM[0].Pagesa" class="form-control" required />*@
                                                                <input asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].Pagesa" type="text" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].Pagesa" class="form-control" required />

                                                            </td>

                                                            <td>
                                                                @* <select name="ShoferitRrugaVM[0].PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                                                @foreach (var item in @ViewBag.numberNames)
                                                {
                                                <option value="@item.Key">@item.Value</option>
                                                }*@

                                                                <select asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].CurrencyId" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId" class="form-control" required />
                                                                @foreach (var item in @ViewBag.numberNames)

                                                                { @if (Model.ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId == @item.Key ? true : false)
                                                                    {

                                                                        <option selected="selected" value="@item.Key">@item.Value</option>
                                                                    }
                                                                    else
                                                                    {

                                                                        <option value="@item.Key">@item.Value</option>
                                                                    }
                                                                }


                                                            </td>
                                                            <td>
                                                                <input type="checkbox" asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].PagesaKryer" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].PagesaKryer" style="width: 30px;height: 30px;"  onchange="this.value=this.checked" />

                                                            </td>
                                                            <td>
                                                                <button type="button" onclick="RemoveChildRow(this)" id="@j" class="btn btn-danger removeRow">Remove</button>
                                                            </td>
                                                        </tr>
                                                    }

@*
                                                        string DinamicdetailRow = "detailRow" + j;
                                                        <tr id="@DinamicdetailRow" class="detailRow">
                                               
                                                        <td>
                                                            <input asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].Pagesa" type="text" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].Pagesa" class="form-control" required />

                                                        </td>

                                                        <td>
                                                         

                                                            <select asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].CurrencyId" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId" class="form-control" required />
                                                            @foreach (var item in @ViewBag.numberNames)

                                                            { @if (Model.ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId == @item.Key ? true : false)
                                                                {

                                                                    <option selected="selected" value="@item.Key">@item.Value</option>
                                                                }
                                                                else
                                                                {

                                                                    <option value="@item.Key">@item.Value</option>
                                                                }
                                                            }


                                                        </td>
                                                        <td>
                                                            <input type="checkbox" asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].PagesaKryer" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].PagesaKryer" style="width: 30px;height: 30px;" value="false" onchange="this.value=this.checked" />

                                                        </td>
                                                        <td>
                                                            <button type="button" onclick="RemoveChildRow(this)" id="0" class="btn btn-danger removeRow">Remove</button>
                                                        </td>
                                                    </tr>*@
                                                }
                                            </tbody>
                                            <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                    <button type="button" onclick="myFunctionChild(this.id)" class="btn btn-primary" id="0">Add Row</button>
                                            </td>
                                        </tr>
                                            </tfoot>
                                        }
                                        else
                                        {

                                                string DinamicStudentsTablebody = "StudentsTablebody" +i;
                                            <tbody id="@DinamicStudentsTablebody">

                                            @for (var j = 0; j <= (Model.ShoferitRrugaVM[i].pagesaShoferitVM.Count() - 1); j++)
                                            {

                                                    if (j == 0)
                                                    {
                                                        string DinamicdetailRow = "detailRow";
                                                        <tr id="@DinamicdetailRow" class="detailRow">

                                                            <td>
                                                                @*<input type="text" name="ShoferitRrugaVM[0].pagesaShoferitVM[0].Pagesa" class="form-control" required />*@
                                                                <input asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].Pagesa" type="text" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].Pagesa" class="form-control" required />

                                                            </td>

                                                            <td>
                                                                @* <select name="ShoferitRrugaVM[0].PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                                                @foreach (var item in @ViewBag.numberNames)
                                                {
                                                <option value="@item.Key">@item.Value</option>
                                                }*@

                                                                <select asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].CurrencyId" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId" class="form-control" required />
                                                                @foreach (var item in @ViewBag.numberNames)

                                                                { @if (Model.ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId == @item.Key ? true : false)
                                                                    {

                                                                        <option selected="selected" value="@item.Key">@item.Value</option>
                                                                    }
                                                                    else
                                                                    {

                                                                        <option value="@item.Key">@item.Value</option>
                                                                    }
                                                                }


                                                            </td>
                                                            <td>
                                                                <input type="checkbox" asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].PagesaKryer" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].PagesaKryer" style="width: 30px;height: 30px;"  onchange="this.value=this.checked" />

                                                                @* <input type="checkbox" name="ShoferitRrugaVM[0].PagesaShoferitVM[0].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />*@
                                                            </td>
                                                            <td>
                                                                <button type="button" onclick="RemoveChildRow(this)" id="0" class="btn btn-danger removeRow">Remove</button>
                                                            </td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        string DinamicdetailRow = "detailRow" + j;
                                                        <tr id="@DinamicdetailRow" class="detailRow">

                                                            <td>
                                                                @*<input type="text" name="ShoferitRrugaVM[0].pagesaShoferitVM[0].Pagesa" class="form-control" required />*@
                                                                <input asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].Pagesa" type="text" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].Pagesa" class="form-control" required />

                                                            </td>

                                                            <td>
                                                                @* <select name="ShoferitRrugaVM[0].PagesaShoferitVM[0].CurrencyId" class="form-control" required />
                                                @foreach (var item in @ViewBag.numberNames)
                                                {
                                                <option value="@item.Key">@item.Value</option>
                                                }*@

                                                                <select asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].CurrencyId" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId" class="form-control" required />
                                                                @foreach (var item in @ViewBag.numberNames)

                                                                { @if (Model.ShoferitRrugaVM[@i].pagesaShoferitVM[@j].CurrencyId == @item.Key ? true : false)
                                                                    {

                                                                        <option selected="selected" value="@item.Key">@item.Value</option>
                                                                    }
                                                                    else
                                                                    {

                                                                        <option value="@item.Key">@item.Value</option>
                                                                    }
                                                                }


                                                            </td>
                                                            <td>
                                                                <input type="checkbox" asp-for="ShoferitRrugaVM[i].pagesaShoferitVM[j].PagesaKryer" name="ShoferitRrugaVM[@i].pagesaShoferitVM[@j].PagesaKryer" style="width: 30px;height: 30px;"  onchange="this.value=this.checked" />

                                                            </td>
                                                            <td>
                                                                <button type="button" onclick="RemoveChildRow(this)" id="@j" class="btn btn-danger removeRow">Remove</button>
                                                            </td>
                                                        </tr>
                                                    }
                                            }
                                    </tbody>
                                        

                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                    <button type="button" onclick="myFunctionChild(this.id)" class="btn btn-primary" id="@i">Add Row</button>
                                            </td>
                                        </tr>
                                            </tfoot>
                                        }
                                </table>
                                
                            </td>
                            <td>
                                    <button type="button" onclick="RemoveRow(this)" id="@i" class="btn btn-danger ShoferRrugaremoveRow">Remove</button>
                            </td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" onclick="myFunction()" class="btn btn-primary" id="ShoferRrugaaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>














                <div class="form-group">
                    <span asp-validation-for="NaftaBlereLitra"></span>
                    <label asp-for="NaftaBlereLitra"></label>
                    <input asp-for="NaftaBlereLitra" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="NaftaBlereCmim"></span>
                    <label asp-for="NaftaBlereCmim"></label>
                    <input asp-for="NaftaBlereCmim" class="form-control">
                </div>

            </div>
            <div class="col-sm-6">
@*                <div class="form-group">
                    <span asp-validation-for="FitimeEkstra"></span>
                    <label asp-for="FitimeEkstra"></label>
                    <input asp-for="FitimeEkstra" class="form-control">
                </div>
                <div class="form-group">
                    <span asp-validation-for="shpenzimeEkstra"></span>
                    <label asp-for="shpenzimeEkstra"></label>
                    <input asp-for="shpenzimeEkstra" class="form-control">
                </div>*@
                <div class="form-group">
                    <span asp-validation-for="shenime"></span>
                    <label asp-for="shenime"></label>
                    <input asp-for="shenime" class="form-control">
                </div>


             

                @*<div class="form-group">
                    <span asp-validation-for="PikaShkarkimiId"></span>
                    <label asp-for="PikaShkarkimiId"></label>
                    <select id="myDropdown" onchange="sendData(@ViewBag.id);"  asp-items="@ViewBag.Pikat" class="form-control"></select>
                </div>*@
 @*               <div class="form-group">
    <label >Select PikaShkarkimi</label>
    <select asp-items="@ViewBag.Pikat" class="form-control" id="pikaShkarkimiSelect"></select>
</div>*@
                @*<select name="PagesaPikaShkarkimitsVM[0].CurrencyId" class="form-control" required />
                                @foreach (var item in @ViewBag.numberNames)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }*@
@*
                <div class="form-group">
                    <span asp-validation-for="PikaPagesa"></span>
                    <label asp-for="PikaPagesa"></label>
                    <input id="paragraph" asp-for="PikaPagesa" class="form-control" value="@ViewBag.pagesa">
                </div>*@
           
                <div class="form-group">
                    <label>Select PikaShkarkimi</label>
                    <select asp-items="@ViewBag.Pikat" onchange="sendData(this,@ViewBag.id)" class="form-control" id="pikaShkarkimiSelect"></select>
                </div>
                <table id="PikaRrugaTable" border="1" class="table">
                    <thead>
                        <tr>
                            
                            <th>Pika </th>
                            <th>Lloji pageses</th>
                        </tr>
                    </thead>
                  
                    <tbody id="PikaRrugadetailBody">
                        @for (var i = 0; i <= (Model.PikaRrugas.Count() - 1); i++)
                        {
                            <tr id="PikaRrugadetailRow0" class="PikadetailRow">
                                <td>
                                   @*// <p style="border:1px solid black" >@Model.PikaRrugas[i].PikaShkarkimiName</p>*@
                                    <input type="text" asp-for="PikaRrugas[i].PikaShkarkimiName" name="PikaRrugas[@i].PikaShkarkimiName" class="form-control" required />
                                </td>
                               @* <td>
                                    <div class="form-group">
                                        <label>Select PikaShkarkimi</label>
                                        <select asp-items="@ViewBag.Pikat" onchange="sendData(this,@ViewBag.id)" class="form-control" id="pikaShkarkimiSelect"></select>
                                    </div>
                                </td>*@
                                <td>
                                    <table id="PikaRrugaPagesaTable" border="1" class="table">
                                        <thead>
                                            <tr>
                                                <th>Pagesa Pika</th>
                                                <th>Kursi Kembimit</th>
                                                <th>Paguar</th>
                                            </tr>
                                        </thead>
                                        <tbody id="PikaRrugaPagesaBody0">
                                            @for (var j = 0; j <= (Model.PikaRrugas[i].PikaRrugaPagesa.Count() - 1); j++)
                                            {
                                                <tr class="PikadetailRow">
                                                    <td>
                                                        <input type="text" asp-for="PikaRrugas[i].PikaRrugaPagesa[j].Pagesa" name="PikaRrugas[@i].PikaRrugaPagesa[@j].Pagesa" class="form-control" required />
                                                    </td>
                                                    <td>
                                                        @* <select name="PikaRrugasVM[@i].PikaRrugaPagesaVMs[@j].CurrencyId" class="form-control" required />
                                                @foreach (var item in @ViewBag.numberNames)
                                                {
                                                <option value="@item.Key">@item.Value</option>
                                                }*@
                                                        <select asp-for="PikaRrugas[i].PikaRrugaPagesa[j].CurrencyId" name="PikaRrugas[@i].PikaRrugaPagesa[@j].CurrencyId" class="form-control" required />
                                                        @foreach (var item in @ViewBag.numberNames)

                                                        { @if (Model.PikaRrugas[@i].PikaRrugaPagesa[@j].CurrencyId == @item.Key ? true : false)
                                                            {

                                                                <option selected="selected" value="@item.Key">@item.Value</option>
                                                            }
                                                            else
                                                            {

                                                                <option value="@item.Key">@item.Value</option>
                                                            }
                                                        }





                                                    </td>
                                                    <td>

                                                        <input type="checkbox" asp-for="PikaRrugas[i].PikaRrugaPagesa[j].PagesaKryer" name="PikaRrugas[@i].PikaRrugaPagesa[@j].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />
                                                    </td>
                                                    <td>
                                                        <button type="button" id="0" onclick="RemoveChildRow(this)" class="btn btn-danger PikaRrugaPagesaremoveRow">Remove</button>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <button type="button" onclick="AddrowChild(this)" class="btn btn-primary" id="PikaRrugaPagesaaddRow">Add Row</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </td>
                                <td>
                                    <button type="button" onclick="RemovePikaRow(this)" id="@i" class="btn btn-danger PikaRrugaremoveRow">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" hidden onclick="AddPika()" class="btn btn-primary" id="PikaRrugaaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

             
              
                   @* <div class="form-group">
                        <span asp-validation-for="Emri"></span>
                        <label asp-for="Emri"></label>
                        <input asp-for="Emri" class="form-control">

                    </div>*@
                <table id="ShpenzimeExTable" class="table">
                    <thead>
                        <tr>
                            <th>Shpenzime ekstra</th>
                            <th>Kursi Kembimit</th>
                            <th>Paguar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i = 0; i <= (Model.RrugaShpenzimeEkstras.Count() - 1); i++)
                        {
                            <tr class="ShpenzimeExdetailRow">

                                <td>
                                    <input asp-for="RrugaShpenzimeEkstras[i].Pagesa" type="text" name="RrugaShpenzimeEkstras[@i].Pagesa" class="form-control" required />
                                </td>

                                <td>
                                    <select asp-for="RrugaShpenzimeEkstras[i].CurrencyId" name="RrugaShpenzimeEkstras[@i].CurrencyId" class="form-control" required />
                                    @foreach (var item in @ViewBag.numberNames)

                                    { @if (Model.RrugaShpenzimeEkstras[@i].CurrencyId == @item.Key ? true : false)
                                        {

                                            <option selected="selected" value="@item.Key">@item.Value</option>
                                        }
                                        else
                                        {

                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    }
                                </td>
                                <td>
                                    <input type="checkbox" asp-for="RrugaShpenzimeEkstras[i].PagesaKryer" name="RrugaShpenzimeEkstras[@i].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />
                                </td>
                                <td>
                                    <button type="button" id="@i" class="btn btn-danger ShpenzimeExremoveRow">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-primary" id="ShpenzimeExaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <table id="FitimeExTable" class="table">
                    <thead>
                        <tr>
                            <th>Fitime ekstra</th>
                            <th>Kursi Kembimit</th>
                            <th>Paguar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i = 0; i <= (Model.RrugaFitimeEkstras.Count() - 1); i++)
                        {
                            <tr class="FitimeExdetailRow">

                                <td>
                                    <input asp-for="RrugaFitimeEkstras[i].Pagesa" type="text" name="RrugaFitimeEkstras[@i].Pagesa" class="form-control" required />
                                </td>

                                <td>
                                    <select asp-for="RrugaFitimeEkstras[i].CurrencyId" name="RrugaFitimeEkstras[@i].CurrencyId" class="form-control" required />
                                    @foreach (var item in @ViewBag.numberNames)

                                    { @if (Model.RrugaFitimeEkstras[@i].CurrencyId == @item.Key ? true : false)
                                        {

                                            <option selected="selected" value="@item.Key">@item.Value</option>
                                        }
                                        else
                                        {

                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    }
                                </td>
                                <td>
                                    <input type="checkbox" asp-for="RrugaFitimeEkstras[i].PagesaKryer" name="RrugaFitimeEkstras[@i].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />
                                </td>
                                <td>
                                    <button type="button" id="@i" class="btn btn-danger FitimeExremoveRow">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-primary" id="FitimeExaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <table id="NaftaTable" class="table">
                    <thead>
                        <tr>
                            <th>Shpenzime ekstra</th>
                            <th>Kursi Kembimit</th>
                            <th>Paguar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i = 0; i <= (Model.Nafta.Count() - 1); i++)
                        {
                            <tr class="NaftadetailRow">

                                <td>
                                    <input asp-for="Nafta[i].Pagesa" type="text" name="Nafta[@i].Pagesa" class="form-control" required />
                                </td>

                                <td>
                                    <select asp-for="Nafta[i].CurrencyId" name="Nafta[@i].CurrencyId" class="form-control" required />
                                    @foreach (var item in @ViewBag.numberNames)

                                    { @if (Model.Nafta[@i].CurrencyId == @item.Key ? true : false)
                                        {

                                            <option selected="selected" value="@item.Key">@item.Value</option>
                                        }
                                        else
                                        {

                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    }
                                </td>
                                <td>
                                    <input type="checkbox" asp-for="Nafta[i].PagesaKryer" name="Nafta[@i].PagesaKryer" style="width: 30px;height: 30px;" onchange="this.value=this.checked" />
                                </td>
                                <td>
                                    <input asp-for="Nafta[i].Litra" type="text" name="Nafta[@i].Litra" class="form-control" required />
                                </td>
                                <td>
                                    <button type="button" id="@i" class="btn btn-danger NaftaremoveRow">Remove</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-primary" id="NaftaaddRow">Add Row</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                       
              
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-3">Krijo Rruge</button>
                <a asp-controller="Rruga" asp-action="AllRrugaJoModel" class="btn btn-primary mt-3 mr-3"> Kthehu pas</a>
            </div>
        </div>


    </form>
</div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function sendData(event,id) {
      //      debugger
           //var test =  @Model.PikaPagesa;
           //var ilgi = @ViewBag.id ;
//           class PikaRruga {
//    constructor() {
//        this.PikaRrugaId = 0;
//        this.PikaShkarkimiId = 0;
//        this.PikaShkarkimi = null;
//        this.RrugaId = 0;
//        this.Rruga = null;
//        this.PikaRrugaPagesa = [];
//        this.CreatedDate = new Date();
//        this.UpdatedDate = new Date();
//        this.PikaShkarkimiName = "";
//    }
//}

//class PikaRrugaPagesa {
//    constructor() {
//        this.PikaRrugaPagesaId = 0;
//        this.CurrencyId = 0;
//        this.Currency = null;
//        this.PikaRrugaId = 0;
//        this.Pika = null;
//        this.Pagesa = 0;
//        this.ShpenzimXhiro = false;
//        this.PagesaKryer = false;
//        this.CreatedDate = new Date();
//        this.UpdatedDate = new Date();
//    }
//}

            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateRrugaJoModel3","Rruga")",
                //url: "/Rruga/CreateRrugaJoModel2",
                data: { id2: event.value, rrugaId : id },

                success: function (result) {
                    AddPika(result)
        //            debugger
                    //@Model.PikaPagesa= result;
                    //ilgi = result
                    //@ViewBag.id =1;
                   // selectedFilter2[0].value = result;
                },
                error: function () {
        //            debugger
                    alert("there was an error");
                }
            })
        }
        function sendDataShofer(id) {
            debugger
            var selectedFilter = $("#myDropdown").val();
            var selectedFilter2 = $("#paragraph");

            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateRrugaJoModel2","Rruga")",
                //url: "/Rruga/CreateRrugaJoModel2",
                data: { id: id, val: selectedFilter },

                success: function (result) {
                    selectedFilter2[0].value = result;
                },
                error: function () {
                    alert("there was an error");
                }
            })
        }


        $(document).ready(function () {

            $('#DoganaaddRow').click(function () {
                debugger
                var rowCount = $('#DoganaTable tbody tr').length;
                var newRow = $('.DoganadetailRow').first().clone();
                newRow.find('input[type=text]').val('');
                newRow.find('input[type=text]').attr('name', 'PagesaDoganaVM[' + rowCount + '].Pagesa');
                newRow.find('select').val('');
                newRow.find('select').attr('name', 'PagesaDoganaVM[' + rowCount + '].CurrencyId');
                //newRow.find('checkbox').val('');
                //newRow.find('checkbox').attr('name', 'PagesaDoganaVM[' + rowCount + '].PagesaKryer');
                newRow[0].childNodes[5].childNodes[1].attributes.name.nodeValue = "PagesaDoganaVM[" + rowCount + "].PagesaKryer";
                newRow.find('button').val('');
                newRow.find('button').attr('id', rowCount.toString());
                newRow.appendTo($('#DoganaTable tbody'));
            });
            $(document).on('click', '.DoganaremoveRow', function () {
                debugger
                var rowCount = $('#DoganaTable tbody tr').length;
                if ((rowCount ) > 1) {
                    var id = parseInt((this).id);
                    if (id != (rowCount - 1))
                        return
                    $(this).closest('tr').remove();

                }
            });
        });



        $(document).ready(function () {

            $('#PikaaddRow').click(function () {
                var rowCount = $('#PikaTable tbody tr').length;
                var newRow = $('.PikadetailRow').first().clone();
                newRow.find('input[type=text]').val('');
                newRow.find('input[type=text]').attr('name', 'PagesaPikaShkarkimitsVM[' + rowCount + '].Pagesa');
                newRow.find('select').val('');
                newRow.find('select').attr('name', 'PagesaPikaShkarkimitsVM[' + rowCount + '].CurrencyId');
                //newRow.find('checkbox').val('');
                //newRow.find('checkbox').attr('name', 'PagesaDoganaVM[' + rowCount + '].PagesaKryer');
                newRow[0].childNodes[5].childNodes[1].attributes.name.nodeValue = "PagesaPikaShkarkimitsVM[" + rowCount + "].PagesaKryer";
                newRow.find('button').val('');
                newRow.find('button').attr('id', rowCount.toString());
                newRow.appendTo($('#PikaTable tbody'));
            });
            $(document).on('click', '.PikaremoveRow', function () {
                var rowCount = $('#PikaTable tbody tr').length;
                if ((rowCount - 1) > 1) {
                    var id = parseInt((this).id);
                    if (id != (rowCount - 1))
                        return
                    $(this).closest('tr').remove();

                }
            });
        });




        //$(document).ready(function () {

        //    $('#DoganaaddRow').click(function () {
        //        var rowCount = $('#DoganaTable tbody tr').length;
        //        var newRow = $('.DoganadetailRow').first().clone();
        //        newRow.find('input[type=text]').val('');
        //        newRow.find('input[type=text]').attr('name', 'PagesaPikaShkarkimitsVM[' + rowCount + '].Pagesa');
        //        newRow.find('select').val('');
        //        newRow.find('select').attr('name', 'PagesaPikaShkarkimitsVM[' + rowCount + '].CurrencyId');
        //        //newRow.find('checkbox').val('');
        //        //newRow.find('checkbox').attr('name', 'PagesaDoganaVM[' + rowCount + '].PagesaKryer');
        //        newRow[0].childNodes[5].childNodes[1].attributes.name.nodeValue = "PagesaPikaShkarkimitsVM[" + rowCount + "].PagesaKryer";
        //        newRow.find('button').val('');
        //        newRow.find('button').attr('id', rowCount.toString());
        //        newRow.appendTo($('#DoganaTable tbody'));
        //    });
        //    $(document).on('click', '.DoganaremoveRow', function () {
        //        var rowCount = $('#DoganaTable tbody tr').length;
        //        if ((rowCount - 1) > 1) {
        //            var id = parseInt((this).id);
        //            if (id != (rowCount - 1))
        //                return
        //            $(this).closest('tr').remove();

        //        }
        //    });
        //});












        //$(function () {
        //    // Initialize the dynamic form counter
        //    var formCounter = 0;

        //    // Handle change event of the DropDownList
        //    $('#pikaShkarkimiSelect').on('change', function () {
        //        // Get the selected PikaShkarkimiId
        //        var selectedPikaShkarkimiId = $(this).val();

        //        // Clear the existing form fields
        //        $('#PikaTable tbody').empty();

        //        // Make an AJAX request to get PagesaPikaShkarkimitsVM items based on selectedPikaShkarkimiId
        //        $.get("/YourController/GetPagesaPikaShkarkimitsVM", { pikaShkarkimiId: selectedPikaShkarkimiId }, function (data) {
        //            // Loop through the data and create form fields
        //            $.each(data, function (index, item) {
        //                var newRow = '<tr class="PikadetailRow">';
        //                newRow += '<td><input type="text" name="PagesaPikaShkarkimitsVM[' + formCounter + '].Pagesa" class="form-control" required /></td>';
        //                newRow += '<td><select name="PagesaPikaShkarkimitsVM[' + formCounter + '].CurrencyId" class="form-control" required />';
        //                // Add options for currency select
        //                $.each(@ViewBag.numberNames, function (key, value) {
        //                    newRow += '<option value="' + key + '">' + value + '</option>';
        //                });
        //                newRow += '</select></td>';
        //                newRow += '<td><input type="checkbox" name="PagesaPikaShkarkimitsVM[' + formCounter + '].PagesaKryer" style="width: 30px;height: 30px;" value="false" onchange="this.value=this.checked" /></td>';
        //                newRow += '<td><button type="button" id="' + formCounter + '" class="btn btn-danger PikaremoveRow">Remove</button></td>';
        //                newRow += '</tr>';

        //                $('#PikaTable tbody').append(newRow);

        //                formCounter++;
        //            });
        //        });
        //    });
        //});


        $(document).ready(function () {

            $('#ShpenzimeExaddRow').click(function () {
                debugger
                var rowCount = $('#ShpenzimeExTable tbody tr').length;
                var newRow = $('.ShpenzimeExdetailRow').first().clone();
                newRow.find('input[type=text]').val('');
                newRow.find('input[type=text]').attr('name', 'RrugaShpenzimeEkstras[' + rowCount + '].Pagesa');
                newRow.find('select').val('');
                newRow.find('select').attr('name', 'RrugaShpenzimeEkstras[' + rowCount + '].CurrencyId');
                //newRow.find('checkbox').val('');
                //newRow.find('checkbox').attr('name', 'PagesaDoganaVM[' + rowCount + '].PagesaKryer');
                newRow[0].childNodes[5].childNodes[1].attributes.name.nodeValue = "RrugaShpenzimeEkstras[" + rowCount + "].PagesaKryer";
                newRow.find('button').val('');
                newRow.find('button').attr('id', rowCount.toString());
                newRow.appendTo($('#ShpenzimeExTable tbody'));
            });
            $(document).on('click', '.ShpenzimeExremoveRow', function () {
                debugger
                var rowCount = $('#ShpenzimeExTable tbody tr').length;
                if ((rowCount) > 1) {
                    var id = parseInt((this).id);
                    if (id != (rowCount - 1))
                        return
                    $(this).closest('tr').remove();

                }
            });
        });
        $(document).ready(function () {

            $('#FitimeExaddRow').click(function () {
                debugger
                var rowCount = $('#FitimeExTable tbody tr').length;
                var newRow = $('.FitimeExdetailRow').first().clone();
                newRow.find('input[type=text]').val('');
                newRow.find('input[type=text]').attr('name', 'RrugaFitimeEkstras[' + rowCount + '].Pagesa');
                newRow.find('select').val('');
                newRow.find('select').attr('name', 'RrugaFitimeEkstras[' + rowCount + '].CurrencyId');
                //newRow.find('checkbox').val('');
                //newRow.find('checkbox').attr('name', 'PagesaDoganaVM[' + rowCount + '].PagesaKryer');
                newRow[0].childNodes[5].childNodes[1].attributes.name.nodeValue = "RrugaFitimeEkstras[" + rowCount + "].PagesaKryer";
                newRow.find('button').val('');
                newRow.find('button').attr('id', rowCount.toString());
                newRow.appendTo($('#FitimeExTable tbody'));
            });
            $(document).on('click', '.FitimeExremoveRow', function () {
                debugger
                var rowCount = $('#FitimeExTable tbody tr').length;
                if ((rowCount) > 1) {
                    var id = parseInt((this).id);
                    if (id != (rowCount - 1))
                        return
                    $(this).closest('tr').remove();

                }
            });
        });
        $(document).ready(function () {

            $('#NaftaaddRow').click(function () {
                debugger
                var rowCount = $('#NaftaTable tbody tr').length;
                var newRow = $('.NaftadetailRow').first().clone();
                newRow.find('input[type=text]').val('');
                newRow.find('input[type=text]').attr('name', 'Nafta[' + rowCount + '].Pagesa');
                newRow.find('select').val('');
                newRow.find('select').attr('name', 'Nafta[' + rowCount + '].CurrencyId');
                //newRow.find('checkbox').val('');
                //newRow.find('checkbox').attr('name', 'PagesaDoganaVM[' + rowCount + '].PagesaKryer');
                newRow[0].childNodes[5].childNodes[1].attributes.name.nodeValue = "Nafta[" + rowCount + "].PagesaKryer";
                newRow[0].childNodes[7].childNodes[1].attributes.name.nodeValue = "Nafta[" + rowCount + "].Litra";
                newRow.find('button').val('');
                newRow.find('button').attr('id', rowCount.toString());
                newRow.appendTo($('#NaftaTable tbody'));
            });
            $(document).on('click', '.NaftaremoveRow', function () {
                debugger
                var rowCount = $('#NaftaTable tbody tr').length;
                if ((rowCount) > 1) {
                    var id = parseInt((this).id);
                    if (id != (rowCount - 1))
                        return
                    $(this).closest('tr').remove();

                }
            });
        });









    </script>
}

    



