@{
    ViewData["Title"] = "Home Page";
}
<partial name="NavPartial" />
<div class="mt-5 container">

    <form asp-controller="Rruga" asp-action="AllRrugaJoModel">
        <p>
            <input type="text" placeholder="Emri Shoferit" name="SearchString" />
   
        Fillo <input class="ms-1" type="date" name="searchFirstTime" />
        Perfundo <input class="ms-1" type="date" name="searchSecondTime" />
      

            <input class="btn btn-primary" type="submit" value="Kerko" />
        </p>
    </form>
    <a class="btn btn-primary" asp-action="AddRrugaJoModel" asp-controller="Rruga"> Shto Rruge</a>

    <div class="row">
        <div class="col sm-6">
            <table class="table table-striped table-bordered  ">
                <thead>
                    <tr>
                        <th scope="col">Emri</th>
                        <th scope="col">Dogana</th>
                        <th scope="col">NaftaBlereLitra</th>
                        <th scope="col">NaftaBlereCmim</th>
                        <th scope="col">NaftaShpenzuarLitra</th>
                        <th scope="col">Emri shoferit</th>
                        <th scope="col">Emri Pikes shkarkimit</th>
                        <th scope="col">Veprime</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Shofers)
                    {
                        <tr>
                            <td scope="row"> @item.Emri</td>
                            <td scope="row"> @item.Dogana</td>
                            @if(item.Nafta!=null){
                                
                            <td scope="row"> @item.Nafta.Litra</td>
                            }else{
                            <td scope="row"></td>

                            }
                            @if(item.Nafta!=null){

                            <td scope="row"> @item.Nafta.Cmimi</td>
                            }else{
                            <td scope="row"></td>
                            }
                            <td scope="row"> @item.NaftaShpenzuarLitra</td>
                            <td scope="row"> @item.Shofer.Emri</td>
                            <td scope="row"> @item.PikaShkarkimi.Emri</td>
                            <td scope="row">
                                <a class="btn btn-primary" asp-action="EditRrugaJoModel" asp-controller="Rruga" asp-route-id="@item.RrugaId"> Edito</a>
                                <a class="btn btn-danger" asp-action="FshiRrugaJoModel" asp-controller="Rruga" asp-route-id="@item.RrugaId"> Fshi</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
</div>

