@{
    ViewData["Title"] = "Home Page";
}
<partial name="NavPartial" />
<div class="mt-5 container-fluid ps-2 pe-2">

    <form asp-controller="Rruga" asp-action="AllRrugaJoModel">
        <p>
            <input type="text" placeholder="Emri rruges" name="SearchString" />

            Fillo <input class="ms-1" type="date" name="searchFirstTime" />
            Perfundo <input class="ms-1" type="date" name="searchSecondTime" />


            <input class="btn btn-primary" type="submit" value="Kerko" />
        </p>
    </form>

    <div class="row">
        @foreach (var item in ViewBag.Totali)
        {
            <p>Pagesa @item.Pagesa</p>
            <p>Monedha @item.Currency.CurrencyUnit</p>
            <br>
        }
    </div>
    <div class="row">

       
        <div class="col">
            <table class="table table-striped table-bordered  ">
                <thead>
                    <tr>
                        <th scope="col">Emri</th>
                        <th scope="col">Data</th>
                        <th scope="col">Nafta Shpenzuar Litra</th>
                        <th scope="col">Nafta Blere Litra</th>
                        <th scope="col">Shenime</th>
                        <th scope="col">Pagesa Kryer</th>
                        <th scope="col">Shoferet</th>
                        <th scope="col">Pikat e shkarkimit</th>
                        @*      <th scope="col">shpenzime ekstra</th>
                        <th scope="col">Xhiro ekstra</th>
                        <th scope="col">Dogana</th>
                        <th scope="col">Nafta blere</th>*@
                        <th scope="col">Fitime</th>
                        <th scope="col">Veprime</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Shofers)
                    {
                        <tr>
                            <td scope="row"> @item.Emri</td>
                            <td scope="row"> @item.CreatedDate</td>
                            <td scope="row"> @item.NaftaShpenzuarLitra</td>
                            @if (item.NaftaNegative)
                            {
                                <td scope="row" @*class="bg-danger"*@> <h5>@item.NaftaBlereLitra<i style="color:red;width:50px;height:50px;" class="bi bi-exclamation-circle-fill"></i></h5>  </td>

                            }else{
                                <td scope="row" > <div class="bg-danger" ></div>
                                    @item.NaftaBlereLitra</td>
                            }
                            <td scope="row"> @item.shenime</td>
                            @if (item.PagesaKryer)
                            {
                                <td scope="row" >
                                    <div><h2>  <i style="color:green;width:40px;height:40px;" class="bi bi-check-circle-fill"></i></h2></div>
                                </td>
                            }
                            else
                            {
                                <td scope="row">
                                    <div><h2>  <i style="color:red;width:40px;height:40px;" class="bi bi-exclamation-circle-fill"></i></h2></div>
                                </td>
                            }
                            <td scope="row">
                                <table class="table table-striped table-bordered  ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Emri</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Shofer in item.ShoferRrugas)
                                        {
                                            <tr>

                                                <td scope="row">
                                                    @Shofer.Shofer.Emri
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                            <td scope="row">
                                <table class="table table-striped table-bordered  ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Emri</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Pika in item.PikaRrugas)
                                        {
                                            <tr>

                                                <td scope="row">
                                                    @Pika.PikaShkarkimi.Emri
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                            <td scope="row">
                                <table class="table table-striped table-bordered  ">
                                    <thead>
                                        <tr>
                                            <th scope="col">Pagesa</th>
                                            <th scope="col">Monedha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Fitime in item.RrugaFitimes)
                                        {
                                            <tr>
                                                <td scope="row">
                                                    @Fitime.Pagesa
                                                </td>
                                                <td scope="row">
                                                    @Fitime.Currency.CurrencyUnit
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                            <td scope="row">
                                <a class="btn btn-primary" asp-action="EditRrugaJoModel" asp-controller="Rruga" asp-route-id="@item.RrugaId"> Edito</a>
                                <a class="btn btn-danger" asp-action="FshiRrugaJoModel" asp-controller="Rruga" asp-route-id="@item.RrugaId"> Fshi</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

