@{
    ViewData["Title"] = "Home Page";
}
<partial name="NavPartial" />
<div class="mt-5 container">
    <form asp-controller="PikaShkarkimit" asp-action="RaportPika">
        <p>
            <input type="text" placeholder="Emri Pikes shkarkimit" name="SearchString" />
            Fillo <input class="ms-1" type="date" name="searchFirstTime" />
            Perfundo <input class="ms-1" type="date" name="searchSecondTime" />
            <input class="btn btn-primary" type="submit" value="Kerko" />
        </p>
    </form>
    <div class="row">
        <div class="col sm-6">
            <table class="table table-hover table-sm table-info table-bordered  ">
                <thead>
                    <tr>

                        @*    <th scope="col">cmimi Blere-Shitur</th>*@

                        <th scope="col">Pika Shkarkimit</th>
                        <th scope="col">Pagesa</th>
                        <th scope="col">Pagesa Reale</th>
                        <th scope="col">Monedha</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Totali)
                    {
                        <tr>
                            <td scope="row"> @item.Emri</td>
                            <td scope="row"> @item.Pagesa</td>
                            <td scope="row"> @item.PagesaReale</td>
                            <td scope="row"> @item.Currency.CurrencyUnit</td>

                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <table class="table table-striped table-bordered  ">
                <thead>
                    <tr>
                        <th scope="col">Data krijimit</th>
                        <th scope="col">Pershkrim</th>
                        <th scope="col">Shenime</th>
                        <th scope="col">shpenzim</th>
                        <th scope="col">Xhiro</th>
                        <th scope="col">Pagesa Kryer</th>
                        <th scope="col">Monedha</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Llogari)
                    {
                        <tr>
                            <td scope="row"> @item.CreatedDate</td>
                            <td scope="row"> @item.Pershkrim</td>
                            <td scope="row"> @item.Shenime</td>
                            @if (item.Pagesa < 0)
                            {
                                <td scope="row"> @item.Pagesa</td>
                                <td scope="row"></td>
                            }
                            else
                            {
                                <td scope="row"></td>
                                <td scope="row"> @item.Pagesa</td>
                            }
                            @if (item.PagesaKryer)
                            {
                                <td scope="row">
                                    <div><h2>  <i style="color:green;width:40px;height:40px;" class="bi bi-check-circle-fill"></i></h2></div>
                                </td>
                            }
                            else
                            {
                                <td scope="row">
                                    <div><h2>  <i style="color:red;width:40px;height:40px;" class="bi bi-exclamation-circle-fill"></i></h2></div>
                                </td>
                            }
                            <td scope="row"> @item.Currency</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
            </div>
        </div>
    </div>
</div>
</div>

